.notification{
    position: fixed;
    z-index: 1000;
    padding: 10px;
    border: 1px solid brown;
    font-size: medium;
    background: whitesmoke;
    text-align: center;
}

.welcome{
    background: burlywood;
    color:darkgoldenrod;
}
